
<head>
</head>

<div class="header">
    <div class="right-red" style="background-color: #ed1b24; width: 25px; height: 195px;
        float: right;">
    </div>

<% if(userID){%>

    
    <div class="top_menubx">
        <div id="Top1_toplogin" class="top_menulist" style="font-weight: bold;">Hi, <%=userID%></div>
<div id="Top1_toplogin" class="top_menulist" style="font-weight: bold;"><a href='/signout'>Signout</a></div>

        <div class="top_menulist" id="popCarth">
            <div id="confirmCart">
            </div>
            <div id="popCart">
            </div>
            <div style="font-family: Lucida Sans Unicode,Lucida Grande,Garuda,sans-serif; font-weight: bold;
                font-size: 14px; color: #9d0b0e; width: 120px; float: left;">
                Shopping cart</div>
            <div id="minicart" style="padding-left: 121px; float: left;">
                <a href="/shoppingcart" style="width: 120px; float: left;">View Cart</a></div>
        </div>
        
 <br>
 
<div id="Top1_toplogin" class="top_menulist" style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='/transactionhistory'>View Purchase History</a></div>
</br>
       
        
    </div>

<%}%>

<%if (userID==''){%>
<div id="Top1_toplogin" class="top_menulist" style="font-weight: bold;"><a href='/login'>Login</a></div>
        <div id="Top1_topregister" class="top_menulist" style="font-weight: bold;"><a href='/signup'>Register</a></div>
        <div class="top_menulist" id="popCarth">
            <div id="confirmCart">
            </div>
            <div id="popCart">
            </div>
            <div style="font-family: Lucida Sans Unicode,Lucida Grande,Garuda,sans-serif; font-weight: bold;
                font-size: 14px; color: #9d0b0e; width: 120px; float: left;">
                Shopping cart</div>
            <div id="minicart" style="padding-left: 121px; float: left;">
                <a href="/shoppingcart" style="width: 120px; float: left;">View Cart!</a></div>
        </div>
        
        
        
    </div>
<%}%>



    
    <div class="middle_box">
        <div class="midbx_logo">
            <a href="/" title="" >
                </a></div>
        <div class="midbx_menubx">
           
            <div class="midbx_menulist searchsection">
                <div style="clear: both; margin-bottom: 0px; padding: 2px 0px 10px 3px; float: right;">
                    
                </div>
                
                
            </div>
                    </div>
        
        
        <span class="preload1"></span><span class="preload2"></span>
        <ul id="nav" style="float: left; width: 797px;">
            
                    
                <ul class="sub">
                    
<li><a class="fly" href="/">Browse for more! Go home!</a>
                    
<li><b><a class="fly" href="/index/<%=catalogitem%>"><%=catalogitem%></a></b>

<ul>

<p>
<b>Product Name: </b><%=name0%>

<p>  

<b>Product Description:</b><%=desc0%>  

<p>

<b>Price per unit: </b><%=price0%>$

<p>

<b>Stocks left: </b><%=qty0%>  

<p>




<form action="/index/<%=catalogitem%>/<%=name0%>/additemtocart" method="post">
		<div class="form-group">
			<label><b>Enter Quantity: </b></label>
			<input type="text" class="form-control" name="prodQty">
		</div>
		
<div class="form-group">
<p>

		<button type="submit" class="btn btn-warning btn-lg">Add Item to Cart</button>
</div>
	</form>



</ul>    </div>
    
</div>



